<h3 class="parte2">Restar por comida ingerida</h3>
<div class="p-2 parte2">
  <div class="p-2 d-flex flex-row">

    <div class="card edit-type" *ngFor="let comida of comidas">
      <img class="card-img-top" src="/src/assets/img/hamburguesa.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">{{comida.nombre}}</h5>
        <h4 class="text-center">{{comida.cantidad}}</h4>
        <div class="d-flex flex-row justify-content-between">
          <button (click)="res(comida.id)" class="btn-por btn btn-danger">-</button>
		      <button (click)="add(comida.id)" class="btn-por btn btn-success">+</button>
        </div>
      </div>
    </div>


  </div>
</div>
<button (click)="addPor()" class="btn-por btn btn-success btn-guardar  float-right">Guardar</button>
