<div class ="cont body d-flex flex-column">
  <h3 style="padding-top: 2%;">INFORMACIÓN NUTRIMENTAL</h3>
  <p>En la nutrición, es muy importante saber el tipo de porciones que se manejan y la cantidad de que representa cada uno de estos alimentos.</p>
  <p>A continuación, mostramos la tabla de intercambios de alimentos equivalentes a sus porciones, de acuerdo con su grupo alimenticio:</p>
  <h4>TABLA DE INTERCAMBIOS DE ALIMENTOS EQUIVALENTES</h4>
  <p></p>
  <h5>Grupo de CARNES (origen animal)</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Alimento</th>
              <th scope="col">Una porción equivale a 30 gr</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="table-success" colspan="2"><b>BAJO</b> contenido de grasas:</td>
          </tr>
          <tr>
              <th scope="row">Res</th>
              <td>filete, lengua, falda</td>
          </tr>
          <tr>
              <th scope="row">Cordero</th>
              <td>lomo, pierna, costilla</td>
          </tr>
          <tr>
              <td class="table-primary" colspan="2"><b>MEDIO</b> contenido de grasas:</td>
          </tr>
          <tr>
              <th scope="row">Res</th>
              <td>molida comercial, chuleta, bola, maciza, espaldilla</td>
          </tr>
          <tr>
              <th scope="row">Cerdo</th>
              <td>jamón de lomo, lomo, espaldilla</td>
          </tr>
          <tr>
              <td class="table-danger" colspan="2"><b>ALTO</b> contenido de grasas:</td>
          </tr>
          <tr>
              <th scope="row">Res</th>
              <td>costilla</td>
          </tr>
          <tr>
              <th scope="row">Cordero</th>
              <td>pecho y menudo</td>
          </tr>
      </tbody>
  </table>
  <h5>Grupo de CEREALES</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
          <th scope="col">Una porción equivale a:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Tortilla de Maíz</th>
          <td>1 pza</td>
        </tr>
        <tr>
          <th scope="row">Bolillo Integral</th>
          <td>1/2 pza</td>
        </tr>
        <tr>
          <th scope="row">Pan Tostado</th>
          <td>1 pza</td>
        </tr>
      </tbody>
  </table>
  <h5>Grupo de FRUTAS</h5>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Alimento</th>
        <th scope="col">Una porción equivale a:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-danger" colspan="2"><b>ALTO</b> contenido de fibra:</td>
      </tr>
      <tr>
        <th scope="row">Fresa</th>
        <td>1 pza</td>
      </tr>
      <tr>
        <th scope="row">Granada</th>
        <td>1/2 pza</td>
      </tr>
      <td colspan="2">JUGOS:</td>                  
      <tr>
        <th scope="row">Ciruela</th>
        <td>1/2 tz cocida</td>
      </tr>
      <tr>
        <th scope="row">Manzana</th>
        <td>10 pzas</td>
      </tr>
      <tr>
        <td class="table-primary" colspan="2"><b>MEDIANO</b> contenido de fibra:</td>
      </tr>
      <tr>
        <th scope="row">Ciruela</th>
        <td>6 pzas</td>
      </tr>
      <tr>
        <th scope="row">Chabacano</th>
        <td>6 cuadritos</td>
      </tr>
      <tr>
        <td class="table-success" colspan="2"><b>BAJO</b> contenido de fibra:</td>
      </tr>
      <tr>
        <th scope="row">Ciruela pasa</th>
        <td>4 medianas</td>
      </tr>
      <tr>
        <th scope="row">Dátil</th>
        <td>2 pzas</td>
      </tr>
    </tbody>
  </table>
  <h5>Grupo de VERDURAS</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td class="table-primary" colspan="2" >Verduras de tipo <b>A</b></td>
          </tr>
          <tr>
              <td colspan="2">Estas verduras se pueden consumir libremente</td>
          </tr>
          <tr>
              <th scope="row">Cilantro</th>
          </tr>
          <tr>
              <th scope="row">Acelgas</th>
          </tr>
          <tr>
              <td class="table-warning"  colspan="2">Verduras de tipo <b>B</b></td>
          </tr>
          <tr>
              <td colspan="2">Una porción es <b>media taza</b> de:</td>
          </tr>
          <tr>
              <th scope="row">Betabel</th>
          </tr>
          <tr>
              <th scope="row">Calabaza</th>
          </tr>
      </tbody>
  </table>
  <h5>Grupo de LÁCTEOS</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
          <th scope="col">Una porción equivale a:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Leche entera</th>
          <td>1/2 tz</td>
        </tr>
        <tr>
          <th scope="row">Leche descremada</th>
          <td>1 tz</td>
        </tr>
      </tbody>
  </table>

  <h5>Grupo de LEGUMINOSAS</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Una porción es media taza y debe de ser cocida:</td>
        </tr>
        <tr>
          <th scope="row">Frijol</th>
        </tr>
        <tr>
          <th scope="row">Haba</th>
        </tr>
      </tbody>
  </table>
  <h5>Grupo de GRASAS</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
          <th scope="col">Una porción equivale a:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Aceite de maíz</th>
          <td>1 cdita</td>
        </tr>
        <tr>
          <th scope="row">Aceitunas de oliva</th>
          <td>1 cdita</td>
        </tr>
      </tbody>
  </table>
  <h5>Grupo de AZÚCARES</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
          <th scope="col">Una porción equivale a:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Azúcar</th>
          <td>1 cda</td>
        </tr>
        <tr>
          <th scope="row">Horchata</th>
          <td>1/2 tz</td>
        </tr>
      </tbody>
  </table>
  <h5>SE PUEDEN CONSUMIR LIBREMENTE</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Agua Mineral</th>
        </tr>
        <tr>
          <th scope="row">Mostaza</th>
        </tr>
      </tbody>
  </table>
</div>
  
