<div class ="cont body d-flex flex-column">
  <h3>INFORMACIÓN NUTRIMENTAL</h3>
  <p>En la nutrición, es muy importante saber el tipo de porciones que se manejan y la cantidad de que representa cada uno de estos alimentos.</p>
  <p>A continuación, mostramos la tabla de intercambios de alimentos equivalentes a sus porciones, de acuerdo con su grupo alimenticio:</p>
  <h4>TABLA DE INTERCAMBIOS DE ALIMENTOS EQUIVALENTES</h4>
  <p></p>
  <h5>Grupo de CARNES (origen animal)</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Una porción equivale a 30 gr</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="table-success" colspan="2"><b>BAJO</b> contenido de grasas:</td>
          </tr>
          <tr *ngFor="let ingrediente of carneBajoContenidoGrasas">
            <td>{{ingrediente.nombre}}</td>
          </tr>
          <tr>
              <td class="table-primary" colspan="2"><b>MEDIO</b> contenido de grasas:</td>
          </tr>
          <tr *ngFor="let ingrediente of carneMedioContenidoGrasas">
            <td>{{ingrediente.nombre}}</td>
          </tr>
          <tr>
              <td class="table-danger" colspan="2"><b>ALTO</b> contenido de grasas:</td>
          </tr>
          <tr *ngFor="let ingrediente of carneAltoContenidoGrasas">
            <td>{{ingrediente.nombre}}</td>
          </tr>
      </tbody>
  </table>

  <h5>Grupo de CEREALES</h5>
  <!--<table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
          <th scope="col">Una porción equivale a:</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let ingrediente of cereales">
            <td>{{ingrediente.nombre}}</td>
            <td>{{ingrediente.cantidad}} {{ingrediente.porcion}}</td>
          </tr>
      </tbody>
  </table> -->

  <div>
    <mat-form-field>
      <input matInput (keyup)="cerealesFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="cerealesSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="alimento">
            <th mat-header-cell *matHeaderCellDef> Alimento </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="porcion">
            <th mat-header-cell *matHeaderCellDef> Porción </th>
            <td mat-cell *matCellDef="let element">{{element.cantidad}} {{element.porcion}}</td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
  </div>


  <h5>Grupo de FRUTAS</h5>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Alimento</th>
        <th scope="col">Una porción equivale a:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-danger" colspan="2"><b>ALTO</b> contenido de fibra:</td>
      </tr>
      <tr *ngFor="let ingrediente of frutasAltoContenidoFibra">
        <td>{{ingrediente.nombre}}</td>
        <td>{{ingrediente.cantidad}} {{ingrediente.porcion}}</td>
      </tr>
      <td colspan="2"><b>JUGOS:</b></td>
      <tr *ngFor="let ingrediente of jugos">
        <td>{{ingrediente.nombre}}</td>
        <td>{{ingrediente.cantidad}} {{ingrediente.porcion}}</td>
      </tr>
      <tr>
        <td class="table-primary" colspan="2"><b>MEDIANO</b> contenido de fibra:</td>
      </tr>
      <tr *ngFor="let ingrediente of frutasMedioContenidoFibra">
        <td>{{ingrediente.nombre}}</td>
        <td>{{ingrediente.cantidad}} {{ingrediente.porcion}}</td>
      </tr>
      <tr>
        <td class="table-success" colspan="2"><b>BAJO</b> contenido de fibra:</td>
      </tr>
      <tr *ngFor="let ingrediente of frutasBajoContenidoFibra">
        <td>{{ingrediente.nombre}}</td>
        <td>{{ingrediente.cantidad}} {{ingrediente.porcion}}</td>
      </tr>
    </tbody>
  </table>
  <h5>Grupo de VERDURAS</h5>
  <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td class="table-primary" colspan="2" >Verduras de tipo <b>A</b></td>
          </tr>
          <tr>
              <td colspan="2">Estas verduras se pueden consumir libremente</td>
          </tr>
          <tr *ngFor="let ingrediente of verdurasGrupoA">
            <td>{{ingrediente.nombre}}</td>
          </tr>
          <tr>
              <td class="table-warning"  colspan="2">Verduras de tipo <b>B</b></td>
          </tr>
          <tr>
              <td colspan="2">Una porción es <b>media taza</b> de:</td>
          </tr>
          <tr *ngFor="let ingrediente of verdurasGrupoB">
            <td>{{ingrediente.nombre}}</td>
          </tr>
      </tbody>
  </table>
  <h5>Grupo de LÁCTEOS</h5>
  <!-- <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
          <th scope="col">Una porción equivale a:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingrediente of lacteos">
          <td>{{ingrediente.nombre}}</td>
          <td>{{ingrediente.cantidad}} {{ingrediente.porcion}}</td>
        </tr>
      </tbody>
  </table> -->

  <div>
    <mat-form-field>
      <input matInput (keyup)="lacteosFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <table mat-table [dataSource]="lacteosSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="alimento">
        <th mat-header-cell *matHeaderCellDef> Alimento </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="porcion">
        <th mat-header-cell *matHeaderCellDef> Una porción equivale a: </th>
        <td mat-cell *matCellDef="let element">{{element.cantidad}} {{element.porcion}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

    </table>
  </div>

  <h5>Grupo de LEGUMINOSAS</h5>
  <!-- <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingrediente of leguminosas">
          <td>{{ingrediente.nombre}}</td>
        </tr>
      </tbody>
  </table> -->

  <div>
    <mat-form-field>
      <input matInput (keyup)="leguminosasFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="leguminosasSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="alimento">
        <th mat-header-cell *matHeaderCellDef> Alimento </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <h5>Grupo de GRASAS</h5>
  <!-- <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
          <th scope="col">Una porción equivale a:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingrediente of grasas">
          <td>{{ingrediente.nombre}}</td>
          <td>{{ingrediente.cantidad}} {{ingrediente.porcion}}</td>
        </tr>
      </tbody>
  </table> -->

  <div>
    <mat-form-field>
      <input matInput (keyup)="grasasFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <table mat-table [dataSource]="grasasSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="alimento">
        <th mat-header-cell *matHeaderCellDef> Alimento </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="porcion">
        <th mat-header-cell *matHeaderCellDef> Una porción equivale a: </th>
        <td mat-cell *matCellDef="let element">{{element.cantidad}} {{element.porcion}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

    </table>
  </div>
  <h5>Grupo de AZÚCARES</h5>
  <!-- <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
          <th scope="col">Una porción equivale a:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingrediente of azucares">
          <td>{{ingrediente.nombre}}</td>
          <td>{{ingrediente.cantidad}} {{ingrediente.porcion}}</td>
        </tr>
      </tbody>
  </table>- -->
  <div>
    <mat-form-field>
      <input matInput (keyup)="azucaresFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <table mat-table [dataSource]="azucaresSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="alimento">
        <th mat-header-cell *matHeaderCellDef> Alimento </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="porcion">
        <th mat-header-cell *matHeaderCellDef> Una porción equivale a: </th>
        <td mat-cell *matCellDef="let element">{{element.cantidad}} {{element.porcion}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

    </table>
  </div>
  
  <h5 >SE PUEDEN CONSUMIR LIBREMENTE</h5>
  <!-- <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Alimento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingrediente of libres">
          <th>{{ingrediente.nombre}}</th>
        </tr>
      </tbody>
  </table> -->
  <div>
    <mat-form-field>
      <input matInput (keyup)="filterLibres($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="libresSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="alimento">
        <th mat-header-cell *matHeaderCellDef> Alimento </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>

