

<div class="cont bod d-flex flex-row">

<!-- Componente de lista de porciones -->
<app-lista-porciones></app-lista-porciones>


  <div class="editar-porciones d-flex flex-column w-100">
    <h3 class="parte1">Restar por porciones</h3>
    <div class="p-2 parte1 d-flex flex-row">
      <div class="card edit-type">
        <div class="card-body">
          <h4 class="card-title text-center">Carbs</h4>
          <h4 class="text-center">0</h4>
          <div class="d-flex flex-row justify-content-between">
            <button class="btn-por btn btn-danger">-</button>
            <button class="btn-por btn btn-success">+</button>
          </div>
        </div>
      </div>

      <div class="card edit-type">
        <div class="card-body">
          <h4 class="card-title text-center">Frutas</h4>
          <h4 class="text-center">0</h4>
          <div class="d-flex flex-row justify-content-between">
            <button class="btn-por btn btn-danger">-</button>
            <button class="btn-por btn btn-success">+</button>
          </div>
        </div>
      </div>

      <div class="card edit-type">
        <div class="card-body">
          <h4 class="card-title text-center">Azúcares</h4>
          <h4 class="text-center">0</h4>
          <div class="d-flex flex-row justify-content-between">
            <button class="btn-por btn btn-danger">-</button>
            <button class="btn-por btn btn-success">+</button>
          </div>
        </div>
      </div>

    </div>

    <h3 class="parte2">Restar por comida</h3>
    <div class="p-2 parte2">
      <div class="p-2 d-flex flex-row">

        <div class="card edit-type">
          <img class="card-img-top" src="../Media/hamburguesa.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Burger</h5>
            <h4 class="text-center">0</h4>
            <div class="d-flex flex-row justify-content-between">
              <button class="btn-por btn btn-danger">-</button>
              <button class="btn-por btn btn-success">+</button>
            </div>
          </div>
        </div>

        <div class="card edit-type">
          <img class="card-img-top" src="../Media/taco.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Azúcares</h5>
            <h4 class="text-center">0</h4>
            <div class="d-flex flex-row justify-content-between">
              <button class="btn-por btn btn-danger">-</button>
              <button class="btn-por btn btn-success">+</button>
            </div>
          </div>
        </div>

        <div class="card edit-type">
          <img class="card-img-top" src="../Media/salad.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Azúcares</h5>
            <h4 class="text-center">0</h4>
            <div class="d-flex flex-row justify-content-between">
              <button class="btn-por btn btn-danger">-</button>
              <button class="btn-por btn btn-success">+</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="footer fixed-bottom d-flex flex-row justify-content-between">
  <h5>DASW</h5>
  <h5>ITESO</h5>
  <h5>2019</h5>
</div>
